# Begin importing dependencies, importing data and viewing intial data

In [ ]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import time

In [ ]:
#To make our lives easier, define a variable file_dir for the directory that's holding our data.
#get it to work https://stackoverflow.com/questions/55852860/python-syntaxerror-unicode-error-unicodeescape-codec-cant-decode-bytes-in
#short answer all your slashes need to be doubled for windows is foward slash
#if this is not correct cell 4 wont run dont trust the copy path from right click also
# you dont copy the path exactly to the file but to the folder that is holding the file
file_dir = "C:\\Users\\frank\\Desktop\\Movies-ETL"

In [ ]:

f'{file_dir}'

In [ ]:
#Now, if you want to open a file in your directory, you can use an f-string 
#(see below) instead of having to type out the whole directory every time. 
#If you move your files, you only need to update the file_dir variable.
#also make sure you are not using a zip file path or we wont be able to get to
#data you need to pull out of the zip file the slashes on the path are very important

with open(f'{file_dir}\\wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [ ]:
#taking the 
len(wiki_movies_raw)

In [ ]:


# First 5 records
wiki_movies_raw[:5]

In [ ]:


# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [ ]:
#reading the csv files downloaded from kaggle.com 
kaggle_metadata = pd.read_csv(f'movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'ratings.csv')

In [ ]:
#viewing a random sample from the data set 
kaggle_metadata.sample(5)

# Initial investigation on data

In [ ]:
#converting our wiki movies raw into a pandas dataframe we essentially converting our wiki
#json file to a pandas dataframe
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
#using head method to view the first 5 of the data too many rows to view
# there are columns we can view them all even if we do print(wiki_movies_df.columns)
# it wont print all of themm to see data sets like this we need to conver them in a list
wiki_movies_df.head()

In [ ]:
# converting our data frame columns into a list to view them
#sorted is optional for easier to read if not needed delete the sort and paranthesis 
wiki_movies_df.columns.tolist()

In [ ]:
#use list comprehension to filter data and constrain columns
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]
len (wiki_movies)

In [ ]:
#create a data frame from wiki movies
wiki_movies_df= pd.DataFrame(wiki_movies)
wiki_movies_df.head()

In [ ]:
# #practicing function to clean data not final code 
# #clean movie is name of the function (movie) is the name of the dic
# def clean_movie(movie):
#     movie = dict(movie) #create a non-destructive copy this means we will have two copies an orignal and one that the function actually affects
    
#     #output of our function this is just a skeleton
#     return movie

#IMPORTANT IF YOU DONT COMMENT THIS OUT CODE LATER WONT WORK BECAUSE YOU ARE SETTING UP TWO FUNCTIONS WITH THE SAME NAME

In [ ]:
#looking at the two arabic language with notnull values in the urls and that have imdb_link
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

In [ ]:
#we are using to see what other columns have other languages so alternative tittles
sorted(wiki_movies_df.columns.tolist())

Now we can add in code to handle the alternative titles. The logic we need to implement follows:

Make an empty dict to hold all of the alternative titles.

Loop through a list of all alternative title keys:

Check if the current key exists in the movie object.

If so, remove the key-value pair and add to the alternative titles dict.

After looping through every key, add the alternative titles dict to the movie object.

SKILL DRILL
Try to implement the logic above in your clean_movie function on your own.

Hint: To remove a key-value pair from a dict in Python, use the pop() method.

In [ ]:
# begin creation of function to clean our movie data/ remeber functions created from 
#scratch begin wtih the def wording

def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}#create an empty dict that holds alternative titles
    #looping through a list of all alternative title keys:
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCuneâ€“Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        #setting our conditions using "if" the key actually excist in the 
        #columns when looping it will add the key to the alt_titles empty dict
        if key in movie:
            alt_titles[key] = movie[key]
            #using pop method to remove the key-value pair from the dictionary
            movie.pop(key)
            
 # after looping add the alternative titles dcit to the movie object          
    if len(alt_titles) > 0:#explaining if the lenght of the alt titles is greater than 0
        #create a column in the movie object called alt_titles and have 
        #the results of the loop added there
        movie['alt_titles'] = alt_titles#
    #merge column names by creating a new function withing our function
    def change_column_name(old_name, new_name):#the Paranthesis is just telling
        #our code that old_name will be on the left and new_names on right
        
        
#this code is starting not our loop but our conditions if the old name in the column
#is present which in our case it will be since we look at the data before deciding which 
#columns to change. than change it to the new name which is on the right inside
#the paranthesis 
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)#pop the old name so only the new name remains
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    return movie

Now we can rerun our list comprehension to clean wiki_movies and recreate wiki_movies_df.

In [ ]:
#notice the first line of code is setting a variable to hold our results
#in the brackets we are calling the function clean_movie(movie)
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)#recreating the wiki movies df using the clean
sorted(wiki_movies_df.columns.tolist())#ordering the list in alphabetical order


#NOTICED THIS IS ALMOS THE SAME THING WE DID IN PREVIOUS CELLS BUT NOW WE ARE 
#CREATING THIS LIST COMPREHENSION WITH THE FUNCTION CREATED STILL GOOD FOR
#EXPLORATORY PURPOSES TO BUILD IT LIKE THIS EXPLORE IT FIRST

First, we'll use regular expressions in Pandas' built-in string methods that work on a Series object accessed with the str property. We'll be using str.extract(), which takes in a regular expression pattern. IMDb links generally look like "https://www.imdb.com/title/tt1234567/," with "tt1234567" as the IMDb ID. The regular expression for a group of characters that start with "tt" and has seven digits is "(tt\d{7})".

"(tt\d{7})" â€” The parentheses marks say to look for one group of text.
"(tt\d{7})" â€” The "tt" in the string simply says to match two lowercase Ts.
"(tt\d{7})" â€” The "\d" says to match a numerical digit.
"(tt\d{7})" â€” The "{7}" says to match the last thing (numerical digits) exactly seven times.

Since regular expressions use backslashes, which Python also uses for special characters, we want to tell Python to treat our regular expression characters as a raw string of text. Therefore, we put an r before the quotes. We need to do this every time we create a regular expression string. Weâ€™ll put the extracted IMDB ID into a new column. Altogether, the code to extract the IMDb 

Now we can drop any duplicates of IMDb IDs by using the drop_duplicates() method. To specify that we only want to consider the IMDb ID, use the subset argument, and set inplace equal to True so that the operation is performed on the selected dataframe. Otherwise, the operation would return an edited dataframe that would need to be saved to a new variable. We also want to see the new number of rows and how many rows were dropped. The whole cell should look like the following:

In [ ]:
#the cell above explains what is going on with this code to an understandable degree
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

In [ ]:
#One way to get the count of null values for each column is to use a list comprehension
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

#this code will reduce our data into smaller usefull data to 21

In [ ]:
wiki_movies_df

In [ ]:
#looking at the different data types in our columns we are doing this after we got all
#of our data clean because we want to make sure that columns with numbers and
#strings have the right data types other wise we cant run analysis on them
wiki_movies_df.dtypes

In [ ]:
#first step to converting box office object into integer data type we drop missing values
box_office = wiki_movies_df['Box office'].dropna()

In [ ]:
#checking the number of data points thatr exist after dropping the missing values
box_office

Regular expressions only work on strings, so we'll need to make sure all of the box office data is entered as a string. By using the map() method, we can see which values are not strings. First, make a is_not_a_string() function:

In [ ]:
#althought this code works the function makes it so we would have to name different
#functions everytime we run the map() to use it on other columns
def is_not_a_string(x):
    return type(x) != str

box_office[box_office.map(is_not_a_string)]

In [ ]:
#instead of creating different functions for everys column like the previous
#cell we can use lambda function wich is anonymous and we can combine with the map
box_office[box_office.map(lambda x: type(x) != str)]

rom the output, we can see that there are quite a few data points that are stored as lists. There is a join() string method that concatenates list items into one string; however, we can't just type join(some_list) because the join() method belongs to string objects. We need to make a separator string and then call the join() method on it. For example, the code would be:

In [ ]:
#using joint method and using  a simple space as our joining character and 
#apply the join() function only when our data points are lists 
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
box_office

In [ ]:
#begining our first form regular expression code visit https://regex101.com/ for playing
#and testing some code: this code is really complex look at the 8.3.9-8.3.10 or
#go to reular expression actual domcumentation each special symbol has an 
#specific job that does different things 
form_one = r"\$\d+\.?\d*\s*[mb]illion"

In [ ]:
#since ther is upper and lower case in our instead of adding it to the code above
#we use this method to ignore the case .sum()is optional is just to view how many
#points of data were capture
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

In [ ]:
# creating the second form that our regular expression will match .sum() is optional
#just to view how many points were captured by form two
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [ ]:
#the total of when we run our lamba function on previous cell was 5485 currently
#with the the form created if we add them the total is 5440 which means there are 
#some data not being match by our two forms this boolean series is to help us
#identify those missing forms this are essentially containers to some degree
#holding our data for further analysis 
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

The code above will give you a ValueError with the explanation "The truth value of a Series is ambiguous." (Unfortunately, the meaning of that error is also ambiguous.)

Instead, Pandas has element-wise logical operators:

The element-wise negation operator is the tilde: ~ (similar to "not")
The element-wise logical "and" is the ampersand: &
The element-wise logical "or" is the pipe: |

In [ ]:
## this will throw an error!
# box_office[(not matches_form_one) and (not matches_form_two)]

In [ ]:
#this code follows the comments on the above cell because pandas uses
#element wise operators 
box_office[~matches_form_one & ~matches_form_two]

 Some values have spaces in between the dollar sign and the number.
This is easy to fix. Just add \s* after the dollar signs. The new forms should 

 Some values use a period as a thousands separator, not a comma.
This is slightly more complicated, but doable. Simply change form_two to allow for either a comma or period as a thousands separator. Weâ€™d ordinarily do that by putting the comma and period inside straight brackets [,.], but the period needs to be escaped with a slash [,\.]

 "Million" is sometimes misspelled as "millon."
This is easy enough to fix; we can just make the second "i" optional in our match string with a question mark as follows:

In [ ]:
#we are editing the code previously created for both forms after we view our results
#the above comments are for the following two lines of code 
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

3. Some values are given as a range.
To solve this problem, we'll search for any string that starts with a dollar sign and ends with a hyphen, and then replace it with just a dollar sign using the replace() method. The first argument in the replace() method is the substring that will be replaced, and the second argument in the replace() method is the string to replace it with. We can use regular expressions in the first argument by sending the parameter regex=True, as shown below.

The rest of the box office values make up such a small percentage of the dataset and would require too much time and effort to parse correctly, so we'll just ignore them.

In [ ]:
#comments above pertain to this code 
box_office = box_office.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

Now that we've got expressions to match almost all the box office values, we'll use them to extract only the parts of the strings that match. We do this with the str.extract() method. This method also takes in a regular expression string, but it returns a DataFrame where every column is the data that matches a capture group. We need to make a regular expression that captures data when it matches either form_one or form_two. We can do this easily with an f-string.

The f-string f'{form_one}|{form_two}' will create a regular expression that matches either form_one or form_two, so we just need to put the whole thing in parentheses to create a capture group. Our final string will be f'({form_one}|{form_two})', and the full line of code to extract the data follows:

In [ ]:
#Extract and convert the box office values using str.extract for explanation look 
#at comments above 
box_office.str.extract(f'({form_one}|{form_two})')

Now we need a function to turn the extracted values into a numeric value. We'll call it parse_dollars, and parse_dollars will take in a string and return a floating-point number. We'll start by making a skeleton function with comments explaining each step, and then fill in the steps with actual code.

Since we're working directly with strings, we'll use the re module to access the regular expression functions. We'll use re.match(pattern, string) to see if our string matches a pattern. To start, we'll make some small alterations to the forms we defined, splitting the million and billion matches from form one.

In [ ]:
#refer to comments in above cell for further explanation on the following code:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million-
    #form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'notcied that we are not doing mb 
    #we doing million first-need to test if code will work by copying exactly form 1
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million the double ** means exponent
        #meaning we are multiplying the value float by 10 to the 6th power
        value = float(s) * 10**6

        # return value is returning the value of the previous if
        #code if there is one and it was match
        return value

    # if input is of the form $###.# billion
    #form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'notice this still formm 1 but
    #now we are doing billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billionthe double ** means exponent
        #meaning we are multiplying the value float by 10 to the 9th power
        value = float(s) * 10**9

        # return value is returning the value of the previous elif
        #code if there is one and it was match
        return value

    # if input is of the form $###,###,###
    #form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)' noticed here 
    #we are doing mb further experimentation to see if code would run just like 
    #form 1
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value is returning the value of the previous elif
        #code if there is one and it was match
        return value

    # otherwise, return NaN if the values do not match to either form 1 or 2
    else:
        return np.nan

Now we have everything we need to parse the box office values to numeric values.

First, we need to extract the values from box_office using str.extract. Then we'll apply parse_dollars to the first column in the DataFrame returned by str.extract, which in code looks like the following:

In [ ]:
#look at comments above we are extracting the converted strings from "Box 0ffice"
#column and transfering to the new column "box_office"
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df['box_office']

In [ ]:
#Droping the box office column
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
#verfying "Box office" column has been drop and replaced by "box_office"
wiki_movies_df.columns

# Parse budget data

we've already done a lot of the heavy lifting for parsing the budget data when we parsed the box office data. We'll use the same pattern matches and see how many budget values are in a different form. First, we need to preprocess the budget data, just like we did for the box office data.

In [ ]:
#Create a budget variable and dropna
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
#convert any list into string using lambda
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# remove any values between a dollar sign and a hyphen
#(for budgets given in ranges)
budget = budget.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [ ]:
#Use the same pattern matches that you created to parse the box office data, 
#and apply them without modifications to the budget data. 
#Then, look at what's left
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)

budget[~matches_form_one & ~matches_form_two]

In [ ]:
#Remove the citation references meaning the numbers in brackets
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

Is it worth our time to try and parse what we can out of these remaining 30 budget values, or should we just drop them?

This is a judgement call. Here is an argument for dropping the remaining 30 budget values. A handful of them don't even have numeric values, and those that do tend to be in a different currency. Converting currencies can open up a whole can of worms about where to get conversion rates, what rates should be used, rates from what date should be used, etc.

There are a handful of values that could be parsed into usable data points without worrying about currency conversion, but we have almost 4,700 other budget values to work with, so even 30 values is less than 1% of the data.

Given all the time in the world, maybe it would be worth it to get every last data point into our data, but time is a valuable resource, and putting in the time to convert what we can from these remaining values won't give us enough valuable data to be worth our time.

Or as they say, "The juice isn't worth the squeeze."

In [ ]:
#extracting the budget converted strings and putting them in a new colum 
#just like we did previously with "box office" since our parse code work very good
# we didnt need to recreate a new on with this forms and there fore we didnt
#have to recreate a new function either
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df['budget']

In [ ]:
# Just like before we are dropping the original colum "Budget" so we are left
#with the converted column budget
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
#verifying that column was drop succesfully
wiki_movies_df.columns

# Parse Release Date

Parsing the release date will follow a similar pattern to parsing box office and budget, but with different forms.

In [ ]:
# making a variable that hold the non-null values of release date in the dataframe
#notice we are also applying a lambda function the lambda function here is sayin
# after droping the null values after apply lamba and if x is in the list convert it 
#to a string that is the ''=empty string

release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
release_date

In [ ]:
# setting our regular expression for the different forms used on our Release Date
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [ ]:
#extracting the dates 
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

instead of creating our own function to parse the dates, we'll use the built-in to_datetime() method in Pandas. Since there are different date formats, set the infer_datetime_format option to True. The date formats we've targeted are among those that the to_datetime() function can recognize, which explains the infer_datetime_format=True argument below.

In [ ]:
#comments above pertain to this code
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)
wiki_movies_df['release_date']

# Parse Running Time of the movies

In [ ]:
# creating a variable that holds the non-null values of release date in the datafram 
#this lamba function is working just like the one for date release
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
running_time

In [ ]:
#using string boundaries to see how many entries of running time 
#notice this is not the total like show on the code above there 366 entries left
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
#viewing the remaining 366 entries
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
#make this more general by only marking the beginning of the string, 
#and accepting other abbreviations of "minutes" by only searching up to the letter "m."
#this code is essentially the same as cell 56 but we just making it generic to accetp
#more 
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# fixing code again to be able to pull the remaining 17 
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]
#the return are all those times that are left

This is another judgment call. It's only 17 entries out of almost 7,000, so it's highly unlikely that our analysis will be affected by just ignoring these data points. In a time crunch, it would be perfectly acceptable to just move on. However, it's not very difficult to parse these new forms, and we'll have more flexible code if we do. If we decide to do another, larger scrape of Wikipedia data, it's entirely possible that a significant portion have their runtime formatted this way.

Even though it's a very small number of entries, it's not too hard to parse, so we'll go ahead and parse those, too.

We can match all of the hour + minute patterns with one regular expression pattern. Our pattern follows:

Start with one or more digits.
Have an optional space after the digit and before the letter "h."
Capture all the possible abbreviations of "hour(s)." To do this, we'll make every letter in "hours" optional except the "h."
Have an optional space after the "hours" marker.
Have an optional number of digits for minutes.
As a pattern, this looks like "\d+\s*ho?u?r?s?\s*\d*".

With our new pattern, it's time to extract values. We only want to extract digits, and we want to allow for both possible patterns. Therefore, we'll add capture groups around the \d instances as well as add an alternating character. Our code will look like the following.

In [ ]:
#look at comments below as they pertain to both previous and this code
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

Unfortunately, this new DataFrame is all strings, we'll need to convert them to numeric values. Because we may have captured empty strings, we'll use the to_numeric() method and set the errors argument to 'coerce'. Coercing the errors will turn the empty strings into Not a Number (NaN), then we can use fillna() to change all the NaNs to zeros.

In [ ]:
#setting a lambda function to perform the task above
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
#Now we can apply a function that will convert the hour capture groups 
#and minute capture groups to minutes if the pure minutes capture
#group is zero, and save the output to wiki_movies_df
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
#drop running time from the dataset 
wiki_movies_df.drop('Running time', axis=1, inplace=True)

# Clean the Kaggle Data

In [ ]:
#first look at the kaggle data it comes csv making sure the data types are correct
kaggle_metadata.dtypes

In [ ]:
#checking if all adult and video columsn are either true or false
kaggle_metadata['adult'].value_counts()

# Remove Bad Data

In [ ]:
#removing the bad data
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

Ideally, we'd want to be able to unscramble the rows and recover the data. But since we don't know what caused the data to be scrambled, it's also possible that even if we got all the data into the right columns, the data would still be corrupt.

The biggest concern is that none of the data in these rows looks like an imdb_id. Since that's missing, there's no amount of rearranging that will make these rows into good data. We're just going to have to drop them.

In fact, since we probably don't want to include adult movies in the hackathon dataset, we'll only keep rows where adult is False, and then drop the "adult" column.

In [ ]:
#keeping rows where the adult colun is false and then drop the adult column
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
#look ath the values of the video column
kaggle_metadata['video'].value_counts()

# Convert Data Types

In [ ]:
#code creates the Boolean column we want. We just need to 
#assign it back to video:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

For the numeric columns, we can just use the to_numeric() method from Pandas. We'll make sure the errors= argument is set to 'raise', so we'll know if there's any data that can't be converted to numbers.

In [ ]:
#we are converting all this into numberic numbers because they appear as objects
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
# convert release_date to datetime. Since release_date is in a standard format,
#to_datetime()will convert it without any fuss.
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

# Reasonability Checks on Ratings Data

Lastly, we'll take a look at the ratings data. We'll use the info() method on the DataFrame. Since the ratings dataset has so many rows, we need to set the null_counts option to True.

In [ ]:
ratings.info(show_counts=True)

For our own analysis, we won't be using the timestamp column; however, we will be storing the rating data as its own table in SQL, so we'll need to convert it to a datetime data type. From the MovieLens documentation, the timestamp is the number of seconds since midnight of January 1, 1970.

IMPORTANT
Storing time values as a data type is difficult, and there are many, many standards out there for time values. Some store time values as text strings, like the ISO format "1955-11-05T12:00:00," but then calculating the difference between two time values is complicated and computationally expensive. The Unix time standard stores points of time as integers, specifically as the number of seconds that have elapsed since midnight of January 1, 1970. This is known as the Unix epoch. There are other epochs in use, but the Unix epoch is by far the most widespread.

In [ ]:
#specify in to_datetime() that the origin is 'unix' and time unit seconds
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
#assign the output of the previous code to the timestamp column
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

Finally, we'll look at the statistics of the actual ratings and see if there are any glaring errors. A quick, easy way to do this is to look at a histogram of the rating distributions, and then use the describe() method to print out some stats on central tendency and spread.

In [ ]:
#creating a histogram aka(barchart) look at comments above for why we are doing
#this step

#setting the format in which we want our statistics displayed
pd.options.display.float_format = '{:20,.2f}'.format
#creating our bargraph
ratings['rating'].plot(kind='hist')
#will print the statistic summary of ratings
ratings['rating'].describe()

# Merge Wikipedia and Kaggle Metadata

In [ ]:
#print out list of columns identify which ones are redundatn
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

# Title

In [ ]:
#taking a quick look at some of the titles
movies_df[['title_wiki','title_kaggle']]

In [ ]:
# look at the rows where the titles don't match
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

# Runtime

Next, look at running_time versus runtime. A scatter plot is a great way to give us a sense of how similar the columns are to each other. If the two columns were exactly the same, we'd see a scatter plot of a perfectly straight line. Any wildly different values will show up as dots far from that central line, and if one column is missing data, those values will fall on the x-axis or y-axis.

Because we're dealing with merged data, we should expect there to be missing values. Scatter plots won't show null values, so we need to fill them in with zeros when we're making our plots to get the whole picture.

In [ ]:
#this code will fill in missing values with zero and make the scatter plot
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

Notice that there are more data points on the origin of the Y axis than on the origin of the X axis. Since the X axis is Wikipedia and the Y axis is Kaggle, this means there are more missing entries in the Wikipedia data set than in the Kaggle data set. Also, most of the runtimes are pretty close to each other but the Wikipedia data has some outliers, so the Kaggle data is probably a better choice here. However, we can also see from the scatter plot that there are movies where Kaggle has 0 for the runtime but Wikipedia has data, so we'll fill in the gaps with Wikipedia data.

# Budget

In [ ]:
#make another scatter plot to compare the budget between kaggle and wiki
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

The Wikipedia data appears to have more outliers compared to the Kaggle data. However, there are quite a few movies with no data in the Kaggle column, while Wikipedia does have budget data. Therefore, we'll fill in the gaps with Wikipedia's data.

# Box Office

In [ ]:
#make another scatter plot to view the kaggle and wiki money in flow
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
#looking at the same scatter plot but taking out the outlier of 1 billion
movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

# Release Date

For release_date_wiki and release_date_kaggle, we can't directly make a scatter plot, because the scatter plot only works on numeric data. However, there's a tricky workaround that we can use. We'll use the regular line plot (which can plot date data), and change the style to only put dots by adding style='.' to the plot() method:

In [ ]:
#review comments above as to how this code is working 
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

We should investigate that wild outlier around 2006. We're just going to choose some rough cutoff dates to single out that one movie. We'll look for any movie whose release date according to Wikipedia is after 1996, but whose release date according to Kaggle is before 1965. Here's what your code should look like:

In [ ]:
#review comments above for this code as well
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
#getting the indext of the movie that got merged together which is holiday
#and from here to eternity
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
#drop that row that was merged together
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
#seeing if there is any null values after droping the merged row wiki
movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
#seeing if there is any null values after droping the merged row from kaggle
movies_df[movies_df['release_date_kaggle'].isnull()]

The Wikipedia data is missing release dates for 11 movies:
But the Kaggle data isn't missing any release dates. In this case, we'll just drop the Wikipedia data.

# Language

For the language data, we'll compare the value counts of each. However, consider the following code:

This code throws an error because some of the language data points are stored as lists.

NOTE
We don't need to worry about what hashing is right now, but if you're curious, hashing is a clever computer science trick that can be used to speed up algorithms like getting value counts. Hashing converts values, even arbitrarily long strings, to a limited space of numerical values. We'll talk about hashing more when we get to machine learning, but for now, the important part is that Python creates hash values when new objects are created if they are immutable. Since mutable objects can have their values change after being created, the values might change and not match the hash, so Python just refuses.

In [ ]:
#read comments above as to why the error occurs with this code
movies_df['Language'].value_counts()

In [ ]:
#convert the lists in Language to tuples so that the value_counts() method will work.
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
#kaggle data doesnt contain the language in list so we can just run value_counts()
movies_df['original_language'].value_counts(dropna=False)

There's a trade-off here between the Wikipedia language data and the Kaggle language data. While the Wikipedia data has more information about multiple languages, the Kaggle data is already in a consistent and usable format. Parsing the Wikipedia data may create too many difficulties to make it worthwhile, though.

This is another judgment call; there's no clear-cut answer here. However, for better or for worse, decisions that save time are usually the ones that win, so we'll use the Kaggle data here.

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia
# running_time             runtime                  Keep kaggle; fill in zeros w wiki data
# budget_wiki              budget_kaggle            keep kaggle; fill in zeros w wiki data
# box_office               revenue                  keep kaggle fill in zeroes w wiki data
# release_date_wiki        release_date_kaggle      drop wiki
# Language                 original_language        drop wiki
# Production company(s)    production_companies     drop wiki

# Production Companies

In [ ]:
#starting off by looking at a small number of samples
movies_df[['Production company(s)','production_companies']]

The Kaggle data is much more consistent, and it would be difficult, if not impossible, to translate the Wikipedia data into the same format.

We'll drop the Wikipedia data in this case.

# Put it all together

In [ ]:
#first drop the title_wiki, release_date_wiki,
#Language, and Production company(s) columns
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# in order to save time makign a function that fills in missing data for 
#column pair and then drops the redundant column.
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# we can run the function for the three column pairs that we decided to fill in zeros.
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

Since we've merged our data and filled in values, it's good to check that there aren't any columns with only one value, since that doesn't really provide any information. Don't forget, we need to convert lists to tuples for value_counts() to work.

In [ ]:
#converting the lists to tupples
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)
        #the code shows us that video only has 1 value

In [ ]:
#Since it's false for every row, we don't need to include this column.
movies_df['video'].value_counts(dropna=False)

Having similar columns near each other helps people looking through the data get a better sense of what information is available. One way to reorder them would be to consider the columns roughly in groups, like this:

Identifying information (IDs, titles, URLs, etc.)
Quantitative facts (runtime, budget, revenue, etc.)
Qualitative facts (genres, languages, country, etc.)
Business data (production companies, distributors, etc.)
People (producers, director, cast, writers, etc.)
The following code is one way to reorder the columns:

In [ ]:
#re ordering the collums-read comments above for the logic behind this code
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

If you did not use .loc to reorder the columns and instead passed a list of column names to the indexing operator (i.e. movies_df = movies_df[[â€˜imdb_idâ€™, â€˜title_kaggleâ€™, â€¦ ]]), you may receive a SettingWithCopyWarning. Don't panic! This isn't an error, so your code will continue to work, but it is a warning that your code may not behave as you expect. In this case, your code will work fine, but for best practices, use .loc instead to avoid this warning.

In [ ]:
#renaming the columns to stay consistent 
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

# Transform and Merge Rating Data

In [ ]:
#use a groupby on the "movieId" and "rating" columns and take the count for each group.
# rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [ ]:
# rename the "userId" column to "count."/ technically you coulve just used 
#the code above renaming this was arbitrary choice
# rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
#                 .rename({'userId':'count'}, axis=1)

In [ ]:
#pivot this data so that movieId is the index, the columns will be all
#the rating values, and the rows will be the counts for each rating value.
#again this code is just like the one above is just being slowly build 
#you dont need all those steps above 
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
#rename the columns so they're easier to understand. We'll prepend rating_ 
#to each column with a list comprehension:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]
# rating_counts

In [ ]:
#using left join to merge rating_counts into movies_df since we want to keep
#everything from movies_df regardless if it has a rating or not 
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

Finally, because not every movie got a rating for each rating level, there will be missing values instead of zeros. We have to fill those in ourselves, like this:

In [ ]:
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)
#viewing data frame to verify excutated correctly
movies_with_ratings_df

# Create the Database Engine

The database engine needs to know how to connect to the database. To do that, we make a connection string. For PostgreSQL, the connection string will look like the following:

db_string = f"postgresql://[user]:[password]@[location]:[port]/[database]"

In [ ]:
#create the db_string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
engine = create_engine(db_string)

# Import the Movie Data

To save the movies_df DataFrame to a SQL table, we only have to specify the name of the table and the engine in the to_sql() method.

In [ ]:
#importing the movies_df to our sql data base only the movies df not ratings
#once you run this code a second time it  will give you an error 
#since the table already exist and so you have to add if exists as shown:
movies_df.to_sql(name='movies', con=engine,if_exists='replace', index=False)

# Import the Ratings Data
The ratings data is too large to import in one statement, so it has to be divided into "chunks" of data. To do so, we'll need to reimport the CSV using the chunksize= parameter in read_csv(). This creates an iterable object, so we can make a for loop and append the chunks of data to the new rows to the target SQL table.

##CAUTION

The to_sql() method also has a chunksize= parameter, but that won't help us with memory concerns. The chunksize= parameter in to_sql() creates smaller transactions sent to SQL to prevent the SQL instance from getting locked up with a large transaction.

This can take quite a long time to run (more than an hour). It's a really good idea to print out some information about how it's running.

Let's add functionality to this code to print out:

How many rows have been imported
How much time has elapsed

In [ ]:
# create a variable for the number of rows imported
rows_imported = 0

# get the start_time from time.time()
start_time = time.time()

#for the file direct you need to add the double \\ before ratings becuase is
#windows computer
for data in pd.read_csv(f'{file_dir}\\ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

# add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')